<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- 
    List of valid service urls can be found at https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/online-management-api/get-started-online-management-api#service-url 
    
      - North America	      https://admin.services.crm.dynamics.com
      - North America 2	    https://admin.services.crm9.dynamics.com
      - Europe, Middle East and Africa (EMEA)	https://admin.services.crm4.dynamics.com
      - Asia Pacific (APAC)	https://admin.services.crm5.dynamics.com
      - Oceania	            https://admin.services.crm6.dynamics.com
      - Japan (JPN)	        https://admin.services.crm7.dynamics.com
      - South America	      https://admin.services.crm2.dynamics.com
      - India (IND)	        https://admin.services.crm8.dynamics.com
      - Canada	            https://admin.services.crm3.dynamics.com
      - United Kingdom (UK)	https://admin.services.crm11.dynamics.com
    
    -->
    <add key="crm:DefaultServiceUrl" value="https://admin.services.crm6.dynamics.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>